In [1]:
import pandas as pd
import numpy as np
import os

In [3]:
# Define folder and file path
folder_path = r"C:\Users\Amina.AMIN\Desktop\gitmal04"
file_name = "life_expectancy.csv"
file_path = os.path.join(folder_path, file_name)

# Define years and regions
years = list(range(1800, 2017))  # From 1800 to 2016
regions = ['North America', 'Europe', 'Asia', 'Africa', 'Oceania']

In [5]:
# Generate random life expectancy data
np.random.seed(42)  # For reproducibility
data = []

for year in years:
    for region in regions:
        life_expectancy = np.random.uniform(20, 80)  # Random life expectancy between 20 and 80
        data.append({'Year': year, 'Region': region, 'Life expectancy': round(life_expectancy, 2)})

# Create a DataFrame
df = pd.DataFrame(data)

In [7]:
# Save dataset to CSV
df.to_csv(file_path, index=False)
print(f"Dataset created and saved to: {file_path}")

Dataset created and saved to: C:\Users\Amina.AMIN\Desktop\gitmal04\life_expectancy.csv

In [9]:
# Preview the dataset
df.head()

   Year         Region  Life expectancy
0  1800  North America            42.47
1  1800         Europe            77.04
2  1800           Asia            63.92
3  1800         Africa            55.92
4  1800        Oceania            29.36